*{
  text-decoration: none;
 }
 .navbar{
  background-color: steelblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-right: 15px;
  padding-left: 15px;
 }
 .navdiv{
  display:flex ;
  align-items: center;
  justify-content: space-between;
   
  
 }
 
 .logo img{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-position:  left;
  
}
li{
  list-style:none ;
  display: inline-block;
  

}
li a{
  font-weight: bold;
  justify-items: auto;
  margin-right: 15px;
  font-size: large;
  color:white;

}
a:hover{
  color: tomato;
  background-color: snow;
  border-radius: 6px;
  
}

 
h1{
  text-align: center;
}

.container1{
  text-align: center;
  background-color:burlywood;
}
.container1 img{
  border-radius: 50%;
  position: sticky;
}
.container1 h4{
  font-family: 'Courier New', Courier, monospace;
  background-color: bisque;
  text-align: justify;
}

body{
  background-color: beige;
}
button{
  text-align: center;
  border-width :2px; 
  padding: 8px 8px;
  border-radius: 8px;
  display: block;
  margin: auto;
  background-color:darkturquoise;
  font-weight: bold;
}
#fun2{
  background-color: lightgreen;
}
button:hover{
 
  color:darkorange ;
  background-color: white;
}
#fun2:hover{
  background-color:white ;
  
}
.comname{
  text-align:center;
  color: snow;
  background-position: center;
  padding-left: 10%;
}

.pagination{
  display: flex;
  justify-content: space-between;
  width: 100%;
}